*{
    margin: 0;
    padding: 0;
}

body{
    color: #333;
    font-family: "微软雅黑";
    font-size: 14px;
}

.top{
    height: 50px;
    background-color: #1ABFBE;
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-position: center center;
    margin-left:auto;
    margin-right: auto; 
    text-align: center;
}

.header{
    background: rgba(128, 128,128, 0.22);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.container{
    height:40px;
    width:950px;
    line-height: 40px;
    margin-left: auto;
    margin-right: auto;
}

.start{
    float: left;
    overflow:hidden;
    margin-left: 0px;
}

.end{
    float: right;
    overflow:hidden;
    margin-right: 0px;
}

.container a{
    margin-right:60px;
    text-decoration: none;
    font-size: 20px;
    color:#333;
}

.start>.icon{
    display: block;
    width:19px;
    height:19px;
    background:url("../images/location.png");
    position:absolute;
    top:50%;
    margin-top:-10px;
}

.start>.first{
    margin-left:30px;
}

.start,.end{
    position:relative;
}

.end>.icon{
    top:50%;
    margin-top:-10px;
    position:absolute;
    width:19px;
    height:19px;
    background:url("../images/adm.png");
}

.end>.adm{
    padding-left:20px;
}

.start,.end{
    font-size: 12px;
    cursor:pointer;
}

/* 此处开始主体部分类容 */

.body{
    width: 950px;
    margin-left:auto ;
    margin-right: auto;
}

.body div{
    /* background: rgba(128, 128,128, 0.22); */
}

.title{
    line-height: 50px;
    color: #333;
}

.title a{
    color: #333;
    text-decoration: none;
}


.title div{
    background: rgba(128, 128,128, 0.22); 
    color: #333;
}

.linder th{
    width: 40px;
    text-align: right;
    font-size: 14px;
    color: #1ABFBE;
}

.linder td{
    width: 65px;
    text-align: center;
    font-size: 14px;
}

.linder{
    line-height: 30px;
    background: rgba(128, 128,128, 0.22); 
}

.linder div{
    background: none;
}

.search{
    line-height: 30px;
    background: rgba(128, 128,128, 0.22); 
}

.search a{
    color: #1abfbe;
}

.product{
    width: 950px;
    margin-left: auto;
    margin-right: auto;
}

.product .list a{
    text-decoration: none;
}

.product .list img{
    width: 188px;
    height: 188px;
    margin-left: auto;
    margin-right: auto;
}

.product .list>div{
    width: 190px;
    height: 280px;
    background: rgba(128, 128,128, 0.22); 
    border: 1px solid #aaa;
    padding: 15px;
}

.product .list{
    background: none;
    display: flex;
    justify-content: space-between; 
}

.product .list .listp .small-a{
    color: #333;
    font-size: 10px;
}
.product .list .listp .big-a{
    color: #1ABFBE;
    font-size: 13px;
    line-height: 40px;
    width: 190px;
}

.product .list .listp span{
    font-size: 9px;
}

.page table tr td{
    color: #000;
    
    height: 20px;
}

.page .first-td,.last-td{
    width: 70px;
    height: 20px;
    text-align: center;
    background-color: rgb(141, 139, 139);
}

.foot{
    height: 240px;
    background-color: #555;
    color: #fff;
}

.foot .chuanzhen .start,.end {
    color: #fff;
    line-height: 40px;
}

.chuanzhen{
    width: 950px;
    margin-left: auto;
    margin-right: auto;
}


.foot-big-table{
    margin-left: auto;
    margin-right: auto;
    width: 950px;
}

.foot-middeo-table{
    width: 475px;
    text-align: left;
}

.foot-big-table td{
    font-size: 14px;
}

.foot .hr{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 950px;
}

.ok{

}